.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-form-login{
  width: 100%;
}

.mat-card-login{
  padding: 6rem;
  margin: auto;
  width: max-content;
  height: auto;
  display: flex;
  flex: 0.8;
  margin-top: 15%rem;
  background: #FCFCFF;
}